    @media screen and (max-width: 991px) {
        header
        {
          padding: 20px 40px;
          z-index: 10000;
        }
        .toggleMenu.active
        {
        
          position: fixed;
          top: 40px;
          left: 40px;
        }

        .video1 {
          display: none;
        }
        .video2
        {
          width: 100%;
          display: block;
        }
          header .logo
          {
            position: relative;
            max-width: 60px;
          }
          header ul 
          {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 1;
            flex-direction: column;
            
            justify-content: center;
            transition: 0.2s;
            visibility: hidden;
            opacity: 0;
            text-align: initial;
            padding: 135px;
        }

        .section2
        {
          position: absolute;
            width: 100%;
            height: 100%;
            background: #3586ff;
            overflow: hidden;
            top: 25%;
        }

        .container
        {
          margin: -10px 5%;
        }
  
        header ul li a 
        {
          display: inline-block;
          font-weight: 400;
          margin-left: 0;
          text-decoration: none;
          font-size: 2em;
          margin: 10px 0px;

              }
        header ul li a:hover
        {
          color:#081538
        }
        .toggleMenu
        {
          visibility: visible;
          opacity: 1;
        }


          .tittle2 .boliviaimg {
            align-content: center;
            width: 400px;
            height: 400px;
            margin: 0px 19%;
        }
        .tittle2
        {
          top: 100%;
        }

    }
  @media screen and (max-width: 800px)
  {
          .section2
      {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #3586ff;
          overflow: hidden;
          top:15%;
      }
  

        header
      {
        padding: 5px;
        z-index: 10000;
        
      }
      .tittle2
      {
        top: 90%;
      }
    }




    @media screen and (max-width: 700px)
    {
                  .section2
              {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: #3586ff;
                  overflow: hidden;
                  top:10%;
              }
                
  
                .tittle2 {
                  position: absolute;
                  top: 90%;
                  width: 100%;
                  display: grid;
                  
              }
  
              .tittle2 .caja1 {
                width: 100%;
                border: 1px solid red;
              }
  
              .tittle2 .caja2 {
                width: 100%;
                border: 1px solid red;
              }
              .tittle2 .caja2 p {
                text-align: center;
                font-family: 'Poppins';
                font-weight: 200;
                font-size: 1em;
                padding: 0px 70px;
              }
  
              .play {
                cursor: pointer;
                position: absolute;
                top: 490px;
                left: 50%;
              }
  
              .parafo {
                font-size: 1.2em;
              }
  
              .tittle2 .caja1 img
              {
              margin: 0px 10%;
              }
    }

 
  @media screen and (max-width: 600px)
  {
                .section2
            {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #3586ff;
                overflow: hidden;
                top:10%;
            }
              

              .tittle2 {
                position: absolute;
                top: 90%;
                width: 100%;
                display: grid;
                
            }

            .tittle2 .caja1 {
              width: 100%;
              border: 1px solid red;
            }

            .tittle2 .caja2 {
              width: 100%;
              border: 1px solid red;
            }
            .tittle2 .caja2 p {
              text-align: center;
              font-family: 'Poppins';
              font-weight: 200;
              font-size: 1em;
              padding: 0px 70px;
            }

            .play {
              cursor: pointer;
              position: absolute;
              top: 490px;
              left: 50%;
            }

            .parafo {
              font-size: 1.2em;
            }

            .tittle2 .caja1 img
            {
            margin: 0px 10%;
            }
  }

  @media screen and (max-width: 450px)
  {
              .section2
          {
              position: absolute;
              width: 100%;
              height: 100%;
              background: #3586ff;
              overflow: hidden;
              top:20%;
          }
            


            .tittle2 .caja1 img {
              margin: 0px 5%;
          }

          .parafo {
            font-size: 1em;
            width: auto;
          }
          .container .titulo {
            font-weight: 900;
            font-size: 3em;
            color: white;
            text-shadow: 0px 0px 11px rgb(0,0,0,0.1);
          }

  }



@media screen and (max-width:411px)
{

          .parafo {
            font-size: 1em;
            width: 100%;
        }

        .play {
          cursor: pointer;
          position: absolute;
          top: 570px;
          left: 20%;
          width: 100%;
        }

        .tittle2 {
          position: absolute;
          top: 103%;
          width: 100%;
          display: grid;
        }

        .tittle2 .caja1 img {
          width: auto;
          height: 330px;
        }

        .tittle2 .caja2 button {
          border: none;
          background: #3586ff;
          color: white;
          
          margin: 10px 0px;
          width: 100%;
          cursor: pointer;
        }

        

        .tittle2 .caja2 .botones {
            display: grid;
          
            align-content: center;
            align-items: center;
        }


        .trailer video {
            cursor: pointer;
            position: absolute;
            top: 100px;
            left: 0%;
            width: 100%;
        }
}

















@media screen and (max-width:360px)

{
            .container .titulo {
              font-weight: 900;
              font-size: 3em;
              color: white;
              text-shadow: 0px 0px 11px rgb(0,0,0,0.1);
              width: 100%;
          }
          .parafo {
            font-size: 1em;
            width: 100%;
          }
          .play {
            cursor: pointer;
            position: absolute;
            top: 500px;
            left: 10%;
            width: 100%;
          }

          .tittle2 {
            position: absolute;
            top: 100%;
            width: 100%;
            display: grid;
          }
          .tittle2 .caja1 img {
            
            
              width: auto;
              height: 260px;

          }

          .tittle2 .caja2{
            
            width: 100%;
          }
          .trailer video{
            width: 100%;
            position: fixed;
            top: 100px;
            left: 0px;
          }
}

  @media screen and (max-width: 320px)
  {
          .section2
      {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #3586ff;
          overflow: hidden;
          top:15%;
      }


      header .logo
      {
        position: relative;
        max-width: 10px;
              }
        header
        {
          padding: 5px;
          z-index: 10000;
          
        }
        header ul
        {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          z-index: 1;
          flex-direction: column;
          justify-content: center;
          transition: 0.2s;
          visibility: hidden;
          opacity: 0;
          text-align: initial;
          padding: 25px;


          }

            .tittle2 .caja1 h1 {
              text-align: center;
              font-weight: 200;
              font-size: 1.5em;
          }

          .tittle2 .caja1 img {
            margin: 0px 0px;
            width: 320px;
          }

          .toggleMenu {
            visibility: visible;
            opacity: 1;
            /* top: 0; */
            position: absolute;
            top: 0;
            left: 85%;
          }
          .parafo {
            font-size: 1em;
            width: 270px;
          }


}


@media screen and (min-width :414px )

{
  .play{
    cursor: pointer;
    position: absolute;
    top: 600px;
    left: 20%;
    width: 100%;
  }
 
  .tittle2{
    top: 105%;
  }
  .tittle2 .caja1 img 
  {
   
      width: auto;
      height: 300px;
  
  }
  .trailer video 
  {
    width: 100%;
    position: fixed;
    left: 0;
    top:100px;
  }
}